<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/stylesss.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home" ><a href="/adminHome">HOME</a></li>
          <li id="contact" ><a href="/compose">COMPOSE</a></li>
          <li id="contact" ><a href="/logout">LOGOUT</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
<h1>Edit</h1>

<div class="form-group">
  <form  action="/compose" method="post">

  <label> Title </label>
  <textarea rows="1" class="form-control" name="postTitle" ><%= posts.title%></textarea>
  <label>Post</label>
  <textarea rows="10"  cols="150" class="form-control" name="postBody" ><%= posts.content%></textarea>

  <br>
  <button type="submit" class="btn-primary btn" name="button" value=<%= posts.title%>>Publish</button>
  </form>
</div>



<%- include("partials/footer") -%>
